.body {
  min-width: 400px;
  min-height: 340px;
}
.row-margin{
  margin: 10px 0;
}
/** cascading **/
.container {
  padding-left: 0;
  padding-right: 0;
}
/** cascading **/
.alert {
  padding: 6px 12px;
  margin-bottom: 0;
}